.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.modal-body {
    background: white;
    border-radius: 5px;
    width: 20%;
    /*height: 40%;*/
    margin: 0 auto;
    position: relative;
    top: 10%;
    overflow: hidden;
    padding: 20px;
}

.modal-body > .ui {
    width: 100% !important;
    margin-bottom: 5px;
}